.App {
  color: coral;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.test {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80%;
}

.test_app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1,
h3 {
  margin: 20px;
}

.App-header {
  width: 80%;
  height: 80%;
}

form>label {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.test_app>img {
  height: 250px;
  width: 250px;
}

input {
  padding: 10px 10px;
  border-radius: 10px;

  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);


}

input:hover {
  cursor: pointer;
  box-shadow: 0 14px 28px rgba(255, 127, 80, 0.25), 0 10px 10px rgba(255, 127, 80, 0.22);
}

p {
  margin: 5px;
  width: 70%;
  /* background-color: antiquewhite; */
}


span {
  float: left;
}

b {
  float: right;
}